html {
    font-size: 14px;
}

.row.brand, footer {
    background: #333;
    color: #EEE;
}

.row.brand {
    font-size: 3rem;
    padding: 2rem 0;
}

.row.brand a {
    text-decoration: none;
    color: #EEE;
    transition: color .3s ease-in-out;
}

.row.brand a:hover {
    color: #1eaedb;
}

/* nav bar */
.nav {
    margin: 0;
    display: inline-block;
}

ul.nav li {
    display: inline-block;
    height: 100%;
    margin: 0;
}

ul.nav li::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* nav link */
ul.nav li{
    text-decoration: none;
    display: inline-block;
    height: 100%;
    color: #1EAEDB;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/*ul.nav li::before {*/
    /*background: #5db1b4 none repeat scroll 0 0;*/
    /*bottom: 0;*/
    /*content: "";*/
    /*display: block;*/
    /*height: 3px;*/
    /*left: 0;*/
    /*position: absolute;*/
    /*transition: width 0.25s ease 0s;*/
    /*width: 0;*/
/*}*/

/*ul.nav li:hover::before {*/
    /*width: 100%;*/
/*}*/

/*ul.nav li {*/
    /*padding: 0 .7em;*/
    /*position: relative;*/
/*}*/

/*ul.nav li::after {*/
    /*content: "";*/
    /*display: block;*/
    /*height: 8px;*/
    /*opacity: 0.5;*/
    /*position: absolute;*/
    /*right: -4px;*/
    /*top: 1rem;*/
    /*width: 8px;*/
    /*background: #AAA;*/
/*}*/

/*ul.nav li:last-child::after {*/
    /*display: none;*/
/*}*/

/*ul.nav li:first-child {*/
    /*padding-left: 0;*/
/*}*/

/*ul.nav li:last-child {*/
    /*padding-right: 0;*/
/*}*/



#search-input {
    display: inline-block;
    margin: 0;
    background: #555;
    border: none;
    width: 6em;
    transition: width .2s ease-in-out;
}

#search-input:focus{
    background: #AAA;
    width: 12em;
}

.nav-control {
    background: #444;
}

.nav-control .container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-control .container::after {
    content: none;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* nav button */
.nav-button {
    margin: 0;
    color: #1EAEDB;
    padding: 0 1em;
    transition: color .2s ease;
    border: none;
}

.nav-button:hover {
    color: #EEE;
}

/* nav result */

.nav-result {
    background: #eee;
    padding: 1rem 2em;
    max-height: 70vh;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    /*border-style: solid;*/
    /*border-color: #333;*/
    /*border-width: 0 1px 1px 1px;*/
}
/*======================================================================
 * Search Result*/
#search-result em {
    background: rgba(207, 85, 197, 0.56);
    font-style: normal;
}

#search-result p {
    margin-bottom: 0;
}

/*======================================================================
 * for sticky footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
    padding: 2em 0;
}

footer {
    font-size: 80%;
    padding: .5em 0;
    text-align: right;
}

/*======================================================================
 * TOC */

h1,h2,h3,h4,h5,h6 {
    padding-top: 1em;
    margin-top: -1em;
}

h2 {
    border-bottom: 1px solid #222;
}

#main .container {
    position: relative;
}

#toc li {
    margin: 0;
    list-style-position: outside;
}

#toc li.H3 {
    margin-left: 2em;
}

.toc-panel{
    background: #eee;
    padding: 1em .5em .5em 3em;
    position: absolute;
    overflow-y: auto;
    max-width: 40%;
    max-height: 80vh;
    right: 0;
}

/*======================================================================
 * Utility class */
.hide {
    display: none;
}
